@*Googleの検索ページ上部*@
<div>
    <div class="googleSearchBar">
        <div style="padding-top:5px;height:64px;">
            <div class="form-group displayFlex">
                <a href="https://www.google.co.jp/">
                    <img src="~/Content/Images/Googleロゴ.png" class="googleImage" />
                </a>
                <input id="txtSpeech" type="text" class="form-control googleTextBox deleteBlueLightUpAndAddShaddow" />
            </div>
        </div>
        <div style="height:58px">
            <img src="~/Content/Images/ヘッダタブ.PNG" style="margin-left:150px;margin-top:13px;"/>
        </div>
    </div>
</div>
